html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol,
button {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-weight: normal;
}

li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  outline: transparent;
}

body {
  min-height: 100vh;
}

button {
  outline: transparent;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  line-height: inherit;
}

input,
textarea {
  font: inherit;
  border: none;
  outline: transparent;
}

svg {
  fill: transparent;
}